html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type='range'] {
  height: 0;
}

button {
  -moz-box-shadow: 0px 10px 14px -7px #681790;
  -webkit-box-shadow: 0px 10px 14px -7px #681790;
  box-shadow: 0px 10px 14px -7px #681790;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #681790),
    color-stop(1, #681790)
  );
  background: -moz-linear-gradient(top, #681790 5%, #681790 100%);
  background: -webkit-linear-gradient(top, #681790 5%, #681790 100%);
  background: -o-linear-gradient(top, #681790 5%, #681790 100%);
  background: -ms-linear-gradient(top, #681790 5%, #681790 100%);
  background: linear-gradient(to bottom, #681790 5%, #681790 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#681790', endColorstr='#681790',GradientType=0);
  background-color: #681790;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #681790),
    color-stop(1, #681790)
  );
  background: -moz-linear-gradient(top, #681790 5%, #681790 100%);
  background: -webkit-linear-gradient(top, #681790 5%, #681790 100%);
  background: -o-linear-gradient(top, #681790 5%, #681790 100%);
  background: -ms-linear-gradient(top, #681790 5%, #681790 100%);
  background: linear-gradient(to bottom, #681790 5%, #681790 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#681790', endColorstr='#681790',GradientType=0);
  background-color: #681790;
}
button:active {
  position: relative;
  top: 1px;
}
.flex-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.flex-column {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.max-800 {
  max-width: 800px;
}
